.social_container {
    margin: 20px 0;
}

.social_container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

form.login_form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input.login_form {
    background-color: #eee;
    border: none;

    padding: 12px 15px;
    margin: 2px 0;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
     border-radius: 10px;
     border: 0px solid #696969;
}

.error {
    color: red;
    text-align: left;
    font-size: 10px;
    padding-bottom: 0;
    height: 25px;
}

a.login_form {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}