body {
    width: 100vw;
}

div#root {
    width: 100vw;
}

.leaflet-popup {
  min-width: 900px;
}

.leaflet-popup.dark .leaflet-popup-content-wrapper {
    background-color: #212529;
    color: #FFFFFF;
}

.leaflet-popup.dark .leaflet-popup-tip {
    background-color: #212529;
}

.leaflet-popup.light .leaflet-popup-content-wrapper {
    background-color: #ffffff;
}

.leaflet-popup.light .leaflet-popup-tip {
    background-color: #FFFFFF;
}

canvas.dark {
   background-color: rgb(33, 37, 41);
}

canvas.light {
   background-color: rgb(255, 255, 255);
}

.leaflet-container {
  width: 100vw;
  height: calc(100vh - 64px);
}

div.dark .leaflet-layer,
div.dark .leaflet-control-zoom-in,
div.dark .leaflet-control-zoom-out,
div.dark .leaflet-control-attribution,
div.dark .leaflet-control-layers,
div.dark .leaflet-control-layers-toggle,
div.dark .leaflet-control-layers-list {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}